In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# 命名规范
v_columns = ["V"+str(i) for i in range(1,18)]
TSU_columns = ["TSU"+str(i) for i in range(1,18)]
TSD_columns = ["TSD"+str(i) for i in range(1,18)]
TU_columns = ["TU"+str(i) for i in range(1,18)]
TD_columns = ["TD"+str(i) for i in range(1,18)]

data_path = '../data/data_Preliminary_round/'
traindata = pd.read_csv(data_path + 'train.csv')
testdata = pd.read_csv(data_path + 'test.csv')
submit = pd.read_csv('../data/data_Preliminary_round/提交示例.csv')

traindata.columns = ["Num","Time"]\
+v_columns\
+TSU_columns\
+TSD_columns\
+TU_columns\
+TD_columns

testdata.columns = ["Num","Time"]\
+v_columns\
+TSU_columns\
+TSD_columns\

submit.columns = ["Num"]\
+TU_columns\
+TD_columns

# traindata.drop(["Num","Time"],axis=1,inplace=True)
# testdata.drop(["Num","Time"],axis=1,inplace=True)

In [3]:
train_data

,序号,时间,流量1,流量2,流量3,流量4,流量5,流量6,流量7,流量8,...,下部温度8,下部温度9,下部温度10,下部温度11,下部温度12,下部温度13,下部温度14,下部温度15,下部温度16,下部温度17
0,1,2022/11/6 9:08,35.668999,36.146000,25.558001,26.195000,25.670000,15.702,16.690001,15.991,...,827,827,827,827,827,827,827,827,827,750
1,2,2022/11/6 9:09,35.995998,36.347000,25.382000,26.348000,26.131001,15.523,16.825001,15.871,...,827,827,827,827,827,827,827,827,827,750
2,3,2022/11/6 9:11,35.340000,36.311001,25.469999,26.093000,25.639000,15.564,15.564000,15.947,...,827,827,827,827,827,827,827,827,827,750
3,4,2022/11/6 9:12,35.585999,36.091000,25.250000,26.127001,25.670000,15.575,16.775999,15.936,...,827,827,827,827,827,827,827,827,827,750
4,5,2022/11/6 9:13,35.946999,36.256001,25.163000,26.399000,25.837999,15.460,16.580999,15.795,...,827,827,827,827,827,827,827,827,827,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26651,26652,2023/3/1 3:49,24.594000,24.377001,29.191999,25.551001,27.016001,4.377,21.929001,24.459,...,837,837,837,837,837,837,837,837,837,750
26652,26653,2023/3/1 3:54,24.379000,24.424999,29.253000,25.652000,27.188000,4.415,22.017000,24.534,...,837,837,837,837,837,837,837,837,837,750
26653,26654,2023/3/1 4:00,24.407000,24.312000,29.010000,25.382000,26.813000,4.354,21.726000,24.204,...,837,837,837,837,837,837,837,837,837,750
26654,26655,2023/3/1 4:05,24.636000,24.409000,29.162001,25.551001,27.032000,4.362,21.813000,21.813,...,837,837,837,837,837,837,837,837,837,750
26655,26656,2023/3/1 4:10,24.236000,24.054001,28.874001,25.282000,27.125000,4.384,21.944000,24.444,...,837,837,837,837,837,837,837,837,837,750

In [4]:
train_data['序号'].value_counts()

1        1
17910    1
17778    1
17777    1
17776    1
        ..
8883     1
8882     1
8881     1
8880     1
26656    1
Name: 序号, Length: 26656, dtype: int64

In [5]:
test_data

,序号,时间,流量1,流量2,流量3,流量4,流量5,流量6,流量7,流量8,...,下部温度设定8,下部温度设定9,下部温度设定10,下部温度设定11,下部温度设定12,下部温度设定13,下部温度设定14,下部温度设定15,下部温度设定16,下部温度设定17
0,1,2023/3/1 4:15,24.222000,24.070000,28.889000,25.264999,26.827999,4.354000,21.784000,24.323000,...,837,837,837,837,837,837,837,837,837,750
1,2,2023/3/1 4:20,24.138000,23.974001,28.798000,25.517000,27.108999,4.377000,21.886000,24.384001,...,837,837,837,837,837,837,837,837,837,750
2,3,2023/3/1 4:26,24.152000,24.006001,28.827999,25.114000,26.719999,4.293000,21.611000,24.099001,...,837,837,837,837,837,837,837,837,837,750
3,4,2023/3/1 4:31,24.108999,23.974001,28.783001,25.114000,27.047001,4.354000,21.857000,24.337999,...,837,837,837,837,837,837,837,837,837,750
4,5,2023/3/1 4:36,24.350000,24.215000,29.146999,25.416000,25.416000,4.377000,21.900000,24.444000,...,837,837,837,837,837,837,837,837,837,750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11419,11420,2023/5/17 23:38,20.496000,26.597000,25.483999,28.426001,29.061001,24.259001,26.860001,16.997999,...,786,786,786,786,786,786,786,786,680,680
11420,11421,2023/5/17 23:44,20.098000,26.614000,25.926001,28.409000,28.667000,24.290001,26.709000,16.862000,...,786,786,786,786,786,786,786,786,680,680
11421,11422,2023/5/17 23:49,20.052999,26.580000,25.646000,28.202000,29.077000,24.181999,26.525000,16.886000,...,786,786,786,786,786,786,786,786,680,680
11422,11423,2023/5/17 23:54,20.267000,26.410999,25.896999,28.546000,28.587999,24.430000,26.542000,16.934999,...,786,786,786,786,786,786,786,786,680,680
11423,11424,2023/5/17 23:59,20.323000,26.294001,25.778999,28.289000,28.289000,24.243999,26.691999,16.825001,...,786,786,786,786,786,786,786,786,680,680

In [6]:
test_data.iloc[0]

序号                      1
时间          2023/3/1 4:15
流量1                24.222
流量2                 24.07
流量3                28.889
流量4             25.264999
流量5             26.827999
流量6                 4.354
流量7                21.784
流量8                24.323
流量9             16.721001
流量10               18.652
流量11               18.652
流量12               13.788
流量13               13.352
流量14               13.516
流量15               17.993
流量16            16.573999
流量17               40.132
上部温度设定1               200
上部温度设定2               300
上部温度设定3               400
上部温度设定4               500
上部温度设定5               500
上部温度设定6               600
上部温度设定7               720
上部温度设定8               837
上部温度设定9               837
上部温度设定10              837
上部温度设定11              837
上部温度设定12              837
上部温度设定13              837
上部温度设定14              837
上部温度设定15              837
上部温度设定16              837
上部温度设定17              750
下部温度设定1               200
下部温度设定2               300
下部温度设定3               400
下部温度设定4               500
下部温度设定5               500
下部温度设定6               600
下部温度设定7               720
下部温度设定8               837
下部温度设定9               837
下部温度设定10              837
下部温度设定11              837
下部温度设定12              837
下部温度设定13              837
下部温度设定14              837
下部温度设定15              837
下部温度设定16              837
下部温度设定17              750
Name: 0, dtype: object

In [10]:



for col in ['上部温度1', '上部温度2', '上部温度3', '上部温度4', '上部温度5', '上部温度6', '上部温度7',
       '上部温度8', '上部温度9', '上部温度10', '上部温度11', '上部温度12', '上部温度13', '上部温度14',
       '上部温度15', '上部温度16', '上部温度17', '下部温度1', '下部温度2', '下部温度3', '下部温度4',
       '下部温度5', '下部温度6', '下部温度7', '下部温度8', '下部温度9', '下部温度10', '下部温度11',
       '下部温度12', '下部温度13', '下部温度14', '下部温度15', '下部温度16', '下部温度17']:
    
    
    
    model = LinearRegression().fit(
        train_data.drop(['时间'], axis=1).iloc[:, :-34],
        train_data[col]
    )
    submit[col] = model.predict(test_data.drop(['时间'], axis=1))

In [11]:
submit.to_csv('submit2.csv', index=None)

In [9]:
import pickle
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

NameError: name 'traindata' is not defined